# .vscode Stuff
**/.vscode/

**/output.txt

**/node_modules/

**/Backend/

**/application.properties

# Office Docs open (super annoying)
**/~$*.docx

# Mac stuff
**/.DS_Store
**/Backend/