.choose-locations {
  position: relative;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.choose-locations .location-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  width: 12.5rem;
  height: 3rem;
  border: 1px solid black !important;
  flex: 1;
}
.choose-locations .location-input .location-input-placeholder.chose-city {
  font-size: 0.75rem;
}
.choose-locations .location-input .chosen-location {
  font-size: 1rem;
}
.choose-locations .location-input .search-location-popup {
  left: -0.25rem;
  width: 25rem;
  height: 25rem;
  z-index: 10;
  position: absolute;
  top: -0.25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 0.3rem 1px rgba(0, 0, 0, 0.5);
}
.choose-locations .location-input .search-location-popup .search-location-popup__container {
  border-bottom: 1px solid black;
}
.choose-locations .location-input .search-location-popup input[type=text]::-moz-placeholder {
  font-size: 2rem;
  color: black !important;
}
.choose-locations .location-input .search-location-popup input[type=text]::placeholder {
  font-size: 2rem;
  color: black !important;
}
.choose-locations .location-input .search-location-popup .location-popup-placeholder {
  padding: 1.5rem;
  font-size: 1.5rem;
}
.choose-locations .location-arrow-icon-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the icon exactly */
  z-index: 2;
}
.choose-locations .location-arrow-icon-container .location-arrow-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: 1px solid black;
  transition: transform 0.3s ease;
}
.choose-locations .location-arrow-icon-container .location-arrow-icon.flip-arrow {
  transform: rotate(180deg);
}
.choose-locations .location-arrow-icon-container .location-arrow-icon:hover {
  background-color: rgb(210, 210, 210);
}

.main-search-container {
  outline: 1px solid black;
  border-radius: 1rem;
  padding: 4rem 1rem;
  justify-content: center;
}
.main-search-container > :nth-child(1) {
  flex-grow: 1;
}
.search {
  padding: 1rem 4rem;
}

.search-pop {
  position: absolute;
  top: 10rem;
  left: 5rem;
  width: 50rem;
  background-color: grey;
}

.singleInput .texts {
  width: 100%;
}
.singleInput .texts .searching-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  width: 12.5rem;
  height: 3rem;
  border: 1px solid black !important;
}
.singleInput .texts .searching-input .searching-input-placeholder.input-chosen {
  font-size: 0.75rem;
}
.singleInput .texts .searching-input .chosen-input {
  font-size: 1rem;
}
.singleInput .texts .searching-input .searching-popup {
  left: -0.25rem;
  width: 25rem;
  z-index: 10;
  position: absolute;
  top: -0.25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 0.3rem 1px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}
.singleInput .texts .searching-input .searching-popup .select-travellers-container {
  justify-content: space-between;
}
.singleInput .texts .searching-input .searching-popup .select-travellers-container .select-travellers-container__btns {
  gap: 1.5rem;
}
.singleInput .texts .searching-input .searching-popup .select-travellers-container .select-travellers-container__btns .select-travellers-container__btns__button {
  border: 1px solid black;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.singleInput .texts .searching-input .searching-popup .select-travellers-container .select-travellers-container__btns .select-travellers-container__btns__button:hover {
  background-color: var(--HoverColor);
  color: white;
}
.singleInput .texts .searching-input .searching-popup .select-travellers-container .select-travellers-container__btns .number-of-travellers {
  width: 3rem;
  text-align: center;
  padding: 1rem;
}

.search-flight-button:disabled {
  cursor: not-allowed;
  background-color: #888888;
  color: #aaaaaa;
}/*# sourceMappingURL=Search.css.map */