.flights-wrapper{
    // padding-top: 5rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;
    // background-color: blue;
    padding: 5rem 2rem 0rem 2rem;
}
.flights-main-container{
    width: 100%;

align-items: flex-start;
padding: 1rem;
    .flights-main__left{
    flex:2;
    display: block;
    }
    .flights-list__container{
        flex:8;
        padding: 0rem 1rem;
      

        .flight-details-container{
            margin-bottom: 1.5rem;
            display: flex;
            background-color: white;
            border: 0.25px solid black;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
            border-radius: 0.75rem;
            .flight-details__times{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                flex:3;
                .flight-details__time-info{
                    width: 100%;
                    display: flex;
                    .flights-info-left{
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        gap:0.5rem;
                        padding: 1rem 0.25rem;
                        .plane-company{
                            font-weight: 600;
                        }

                    }
                    .flights-info-right{
                        flex:4;
                        padding: 1rem;
                        width: 100%;
                        display: flex;
                
                        flex-direction: column;
                        justify-content: center;
                    
                        align-items: flex-start;
                        gap: 0.25rem;
                        .flight-time-window{
                            font-weight: 500;
                        }
                        .flight-depart-return{
                            color:var(--textColor);
                        }
                    }
                }
            }
            .flight-details__price{
                flex:1;
                // background-color: blue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                padding-right: 3rem;
                border-left: 0.25px solid black;
                gap: 0.5rem;
                .flight-price{
                    font-weight: 600;
                    font-size: 1.5rem;
                }
                
                .view-details-button{
                    background-color: transparent !important;
                    padding: 0.5rem;
                    border: 0.5px solid #006ce4;
                    font-weight: 500;
                    color: #006ce4;
                    border-radius: 0.5rem;
                    cursor: pointer !important;
                    &:hover{
                        background-color: #9ba6b2;
                    }
                }

            }
        } 
    }
    .flights-main__right{
        flex:1
    }
}