.seats-page{
    // padding-top: 12rem;
    flex-direction: column;
    // background-color: blue;
    padding: 12rem 1.5rem 0rem 1.5rem;
}
.seats-page__seats-selection{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    .seats-selection__card{
        display: flex;
        height: 100rem;
        padding: 1rem;
        overflow: hidden;
        // width: 30rem;
        background-color: var(--SecondaryColor);
        border-radius: 1rem;
        width: 100%;
        .seats-selection__card__map{
            // overflow-y: auto;
            overflow: hidden;
            padding: 1rem;
            

        }
    }
    .seats-selection__card__desc{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        p{
            color: var(--textColor);
            font-size: 1.15rem;
            line-height: 1.75rem;
        }
        .specs{
            .spec-item{
                font-size: 0.95rem;
                display: flex;
                margin-bottom: 1rem;;
                gap: 0.5rem;
                .spec-item__header{
                    font-weight: 600;
                }
            }
            
        }
        
    }

}
